h1
{
	font-size: 450%;
}
h2 {font-size: 350%;}
h3 {font-size: 250%;}
body
{
font-family:"Times New Roman";
text-align:left;
color: #283018;
background: #729f98;
font-size: 24pt;
font-weight: bold;
}
table
{
height:100%;
width:100%;
}
form
{
margin: 0;
padding: 0;
}
input.Button
{ 
display: inline-block; 
text-align: center;
width: 160px;
padding: 20px;
font-weight: bold;
background: #283018;
color: #f0eceb;
white-space: normal;
}
input.Home
{
font-size: 14pt;
text-align: center;
width: 160px;
height: 143px;
padding: 40px;
font-weight: bold;
color: #f0eceb;
white-space: normal;
background-color: transparent;
}
table tr td.display
{
font-weight: bold;
font-family:"Times New Roman";
text-align:left;
color: #283018;
background: #f0eceb;
font-size: 12pt;
vertical-align: text-top;
}
label 
{
display: inline-block; 
text-align: center;
background: #729f98;
}
label:hover
{
background: #729f98; 
color: #f0eceb;
cursor: pointer;
}

.content > div {
display: none;
}
input:checked + label {background: #283018; color: #f0eceb}

#tab1:checked ~ .content #panel1,
#tab2:checked ~ .content #panel2,
#tab3:checked ~ .content #panel3,
#tab4:checked ~ .content #panel4 {
     display: block;
 } 

[type='radio'] /* this makes it so that the radio buttons don't show */
{
display: none;
}
td
{
	vertical-align: top;
}